.wrapper {
    max-width: 90%;
    margin: 20px auto 0;
    background: #e5e9ea;
    border-radius: 3px;
    padding: 30px 10px 10px 10px;
}

.panel {
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
}
.pagination li a{
	color:#777;
}
